<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authorize</title>
  </head>
  <body>
    <!-- <h3>Authorize this app by visiting this url:</h3>
    <a src="<% =link %>"></a>click here</a>
    <input id = "code" type = "text">
    <button type="submit" id="submit">OK</button> -->
    <script>
      let link = await fetch("http://localhost:4200", {
        method: "GET",
      }).catch((e) => console.log("ohno", e));
      let code = prompt(
        `Authorize this app by clicking the link and enter code here: ${link}`
      );

      // const submitButton = getElementById('submit')
      // submitButton.addEventListener('click',async () => {
      //     const code = document.getElementById('code').value
      await fetch("http://localhost:4200", {
        method: "POST",
        headers: {
          body: code,
        },
      });
      // })
    </script>
  </body>
</html>
